# Node.js
node_modules/
npm-debug.log*

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Builds
dist/
build/

# Logs
*.log
logs/

# Docker
*.pid

# Atividades / PDFs
*.pdf